

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: cal(var(--cell-size)* 0.9);
}

body {
    margin: 0;
}

.board {
    height: 80vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;

}

.winning-message button {
    background-color: white;
    font-size: 2rem;
    border: 1px solid black;
    padding: .25em .5em;
    border-radius: 8px;
    margin-top: 0.5em;
    cursor: pointer;

}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}